# Created for Uncrustify-0.81.0_f

file_ext CPP .h .cpp .hpp .cpp.in .inl

nl_end_of_file = add
nl_func_leave_one_liners = true

indent_switch_case = 8
indent_columns = 8
indent_with_tabs = 1
indent_cmt_with_tabs = true
cmt_indent_multi = false
indent_func_call_param = true
indent_func_def_param = true
indent_func_proto_param = true
indent_func_class_param = true
indent_func_ctor_var_param = true
indent_template_param = true

align_with_tabs = true
align_keep_tabs = true
align_keep_extra_space = true

indent_comment_align_thresh = 127






indent_ignore_first_continue      = true
indent_ignore_before_class_colon  = true
indent_ignore_before_constr_colon = false
indent_ignore_case_brace          = true
indent_ignore_label               = true
indent_ignore_bool                = true
indent_ignore_arith               = true
indent_ignore_semicolon           = true
indent_ignore_assign              = true
indent_ignore_asm_block           = true
indent_class                      = true

sp_enum_brace                   = ignore
sp_pp_concat                    = ignore
sp_after_type                   = ignore
sp_angle_shift                  = ignore
sp_before_semi                  = ignore
sp_after_semi                   = ignore
sp_after_semi_for               = ignore
sp_before_vardef_square         = ignore
sp_before_comma                 = ignore
sp_paren_comma                  = ignore
sp_after_constr_colon           = ignore
sp_before_constr_colon          = ignore
sp_before_case_colon            = ignore
sp_return                       = ignore
sp_super_paren                  = ignore
sp_this_paren                   = ignore
sp_word_brace_ns                = ignore
sp_not                          = ignore
sp_inv                          = ignore
sp_addr                         = ignore
sp_member                       = ignore
sp_deref                        = ignore
sp_sign                         = ignore
sp_incdec                       = ignore
sp_before_nl_cont               = ignore
sp_before_emb_cmt               = ignore
sp_after_emb_cmt                = ignore
